body {
    width : 96vw;
    height : 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-1 {
    width : 350px;
    height : 40px;
    padding-left : 15px;
    box-sizing : border-box;    
}


h2 {
    width : 370px;
    height : 50px;
    margin : 0px;
    margin-left : 10px;
    
}
h7 {
    height : 50px;
    margin-bottom: 1px;    
}
.center {
    width : 350px;
    height : 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}
.model-body {
    width : 450px;
    height : 550px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
    border-radius: 10px;
}
.radius {
    border-radius: 10px;
}
.logo {
    width : 100px;
    height : 100px;

}
.close-btn {
	width : 25px;
	height : 25px;
	font-size : 24px;
}
.model-high {
	width : 370px;
	height : 60px;
	display: flex;
}
a {
	color : black;
	margin-right : 100px;
	text-decoration : none;
}
button {
	width : 320px;
    height : 40px;
    display : flex;
    justify-content : center;
    align-items : center;
}
.up {
	height : 10px;
	font-size : 0.8em;
}