@charset "UTF-8";

.run {
	background-color : var(--color-success);
}

.error {
	background-color : var(--color-danger);
}

.insp {
	background-color : var(--color-warning);
}


/* 테이블 */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table tbody tr:hover {
	background-color: var(--color-white-hover);
	cursor: pointer;
}

.table th,
.table td {
    border: none;
    padding: 10px;
    text-align: center;
}

.table th {
    background: var(--color-main-blue);
    color: white;
}

.table td {
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}


#statusSelect {
	padding-left: 5px;
}





/* =================== */
.timeFlex input {
	flex: 1;
}

.page {
	font-size: 12px;
	text-align: center;
	
	margin: 5px 0;
}


textarea[readonly] {
    background: #eee !important;
    cursor: not-allowed !important;
}